.outercolumns
{

}

.facebooklogin
{
text-align: center;
margin-top: 2em;
}

.schoolheader
{
width:100%;
background-color: #63aa9c;
}

.has-tip
{
font-size: .8em;
}

.schoolvsschool
{

width:100%;
margin-top: .25em;
}

.bracket
{

}
.bordertop
{
border-top: .15em solid #63aa9c;
}

.borderbot
{
border-bottom: .15em solid #63aa9c;
}

.borderleft
{
border-left: .15em solid #63aa9c;
}

.borderright
{
border-right: .15em solid #63aa9c;
}

.schoolimageblock
{
width:15%;
}

.schooltextblock
{
width:30%;
text-align: center;
color: #333333;
}

.schoolvs
{
width:10%;
}

.schoolvsblock
{
width:10%;
}

.middletwo
{
width:25%;
margin:	auto;
}

.clear
{
display:block;
width:100%;
clear:both;
height: 0em;
}

.schoollist
{
width:100%;
}

.bracketlist
{
width:100%;
}

.roundedborder
{
border-radius: .3em;
border: .15em solid #63aa9c;
}

.bracketicon
{
width:50%;
float:left;
}

.middleicon
{
width:25%;
}
.middlecolumns
{
	
}

.facebooktext
{
color: #eceae0;
font-size: 0.9em;
}

.vanilla
{
background-color: #eceae0;
}

.button
{
background-color: #63aa9c;
}

#headerblock
{
background-image: url('../images/basketballheader.png');
}

#separatorbar
{
background-color: #DC3D24;
width: 100%;
height: 5px;
}

body
{
background: #1d1d1d;
}

#bracket-name {
	position: relative;
	top: 15px;
}
#bracket-name > span {
	display:block;
	margin-bottom:10px;
}
#bracket-name > a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

.fb-logout {
	display: block;
	font-size: 0.8em;
	margin-top: 10px;
	opacity: 0.8;
}
#row-credit {
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	opacity: 0.5;
	text-align: center;
	font-size: 0.8em;
}
#share-link {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}