.outercolumns
{

}

.schoolheader
{
width:100%;
background-color: #63aa9c;
}

.has-tip
{
font-size: .8em;
}

.schoolvsschool
{
/*
border-radius: .5em;
border: .1em solid #333333;
*/
width:100%;
margin-top: .2em;

}

.bordertop
{
border-top: .15em solid #63aa9c;
}

.borderbot
{
border-bottom: .15em solid #63aa9c;
}

.borderleft
{
border-left: .15em solid #63aa9c;
}

.borderright
{
/*
border-bottom: .15em solid #63aa9c;
border-radius: .3em;
*/
border-right: .15em solid #63aa9c;

}

.schoolimageblock
{
width:24%;
}

.schooltextblock
{
width:21%;
text-align: center;
color: #333333;
}

.schoolvs
{
width:10%;
}

.schoolvsblock
{
width:10%;
}

.middletwo
{
width:25%;
margin:	auto;
}

.clear
{
display:block;
width:100%;
clear:both;
height: 0em;
}

.schoollist
{
width:100%;
}

.bracketlist
{
width:100%;
}

.roundedborder
{
border-radius: .3em;
border: .15em solid #63aa9c;
}

.bracketicon
{
width:50%;
float:left;
}

.middleicon
{
width:25%;
}
.middlecolumns
{
	
}

.facebooktext
{
color: #eceae0;
font-size: 0.9em;
}

.vanilla
{
background-color: #eceae0;
}

#headerblock
{
background-image: url('../images/basketballheader.png');
}

#separatorbar
{
background-color: #DC3D24;
width: 100%;
height: 5px;
}

body
{
background: #1d1d1d;
}